Code/Service/_ServiceRH16/TestWCFServiceRH16/Service References/ServiceReferenceAmurRH16/Service43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.3.180:8875/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.8.3.180:8875/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.ServiceRH16" />
  <xs:element name="Open">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Close">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableTimePeriodResult" nillable="true" type="q1:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FERHRI.Amur.ServiceRH16" minOccurs="0" name="GetAvailableStationsResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FERHRI.Amur.ServiceRH16" minOccurs="0" name="GetAvailableVariablesResult" nillable="true" type="q3:ArrayOfVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataObservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="dateDay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataObservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FERHRI.Amur.ServiceRH16" minOccurs="0" name="GetDataObservationResult" nillable="true" type="q4:DataValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataObservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stationId" nillable="true" type="q5:ArrayOfint" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="dateDay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataObservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FERHRI.Amur.ServiceRH16" minOccurs="0" name="GetDataObservationsResult" nillable="true" type="q6:ArrayOfDataValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="dateDayFcs" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataForecastResult" nillable="true" type="q7:ArrayOfKeyValueOfdateTimeArrayOfDataForecastTDxYzs5V" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecasts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stationsId" nillable="true" type="q8:ArrayOfint" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
        <xs:element minOccurs="0" name="dateDayFcs" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecastsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataForecastsResult" nillable="true" type="q9:ArrayOfKeyValueOfdateTimeArrayOfDataForecastTDxYzs5V" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>