Code/Service/TestService/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataValue" nillable="true" type="tns:DataValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataValue" nillable="true" type="tns:ArrayOfDataValue" />
  <xs:complexType name="DataValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatalogId" type="xs:int" />
      <xs:element minOccurs="0" name="DateLOC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlagAQC" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="UTCOffset" type="xs:float" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataValue" nillable="true" type="tns:DataValue" />
  <xs:complexType name="ArrayOfCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Catalog" nillable="true" type="tns:Catalog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalog" nillable="true" type="tns:ArrayOfCatalog" />
  <xs:complexType name="Catalog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsClimate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MethodId" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetValue" type="xs:double" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceId" type="xs:int" />
      <xs:element minOccurs="0" name="VariableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Catalog" nillable="true" type="tns:Catalog" />
  <xs:complexType name="DataSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeFormId" type="xs:int" />
      <xs:element minOccurs="0" name="DateLOCInsert" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUTCRecieve" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSource" nillable="true" type="tns:DataSource" />
</xs:schema>