Service/TestService/Service References/AmurServiceRWReference/Service61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Meta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Meta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEntityAttrValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityAttrValue" nillable="true" type="tns:EntityAttrValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityAttrValue" nillable="true" type="tns:ArrayOfEntityAttrValue" />
  <xs:complexType name="EntityAttrValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttrTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="DateS" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityAttrValue" nillable="true" type="tns:EntityAttrValue" />
  <xs:complexType name="Method">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Method" nillable="true" type="tns:Method" />
  <xs:complexType name="Source">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Source" nillable="true" type="tns:Source" />
  <xs:complexType name="CatalogFilter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Methods" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OffsetTypes" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="OffsetValue" nillable="true" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sites" nillable="true" type="q3:ArrayOfint" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sources" nillable="true" type="q4:ArrayOfint" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Variables" nillable="true" type="q5:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogFilter" nillable="true" type="tns:CatalogFilter" />
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SiteTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="ArrayOfStationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationType" nillable="true" type="tns:StationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationType" nillable="true" type="tns:ArrayOfStationType" />
  <xs:complexType name="StationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameShort" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationType" nillable="true" type="tns:StationType" />
  <xs:complexType name="ArrayOfSiteType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteType" nillable="true" type="tns:SiteType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteType" nillable="true" type="tns:ArrayOfSiteType" />
  <xs:complexType name="SiteType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameShort" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteType" nillable="true" type="tns:SiteType" />
  <xs:complexType name="ArrayOfVariable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="tns:Variable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariable" nillable="true" type="tns:ArrayOfVariable" />
  <xs:complexType name="Variable">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="GeneralCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleMediumId" type="xs:int" />
      <xs:element minOccurs="0" name="TimeId" type="xs:int" />
      <xs:element minOccurs="0" name="TimeSupport" type="xs:int" />
      <xs:element minOccurs="0" name="UnitId" type="xs:int" />
      <xs:element minOccurs="0" name="ValueTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="VariableTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Variable" nillable="true" type="tns:Variable" />
  <xs:complexType name="ArrayOfCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Catalog" nillable="true" type="tns:Catalog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalog" nillable="true" type="tns:ArrayOfCatalog" />
  <xs:complexType name="Catalog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MethodId" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetValue" type="xs:double" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceId" type="xs:int" />
      <xs:element minOccurs="0" name="VariableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Catalog" nillable="true" type="tns:Catalog" />
</xs:schema>