Code/Service/TestService/Service References/AmurServiceRWReference/Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERHRI.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERHRI.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="DicItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Childs" nillable="true" type="tns:ArrayOfDicItem" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameShort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentDicItem" nillable="true" type="tns:DicItem" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Type" nillable="true" type="q1:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DicItem" nillable="true" type="tns:DicItem" />
  <xs:complexType name="ArrayOfDicItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DicItem" nillable="true" type="tns:DicItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDicItem" nillable="true" type="tns:ArrayOfDicItem" />
</xs:schema>