Code/Service/TestService/Service References/AmurServiceRWReference/Service20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERHRI.Geo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERHRI.Geo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeoPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="LatGrd" type="xs:double" />
      <xs:element minOccurs="0" name="LonGrd" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPoint" nillable="true" type="tns:GeoPoint" />
</xs:schema>