Code/Service/TestService/Service References/AmurServiceRWReference/Service19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOV.Social" />
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" />
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" />
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SOV.Amur.DataP" />
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SOV.Amur.Parser" />
  <xs:element name="GetLegalEntityesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntityesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetLegalEntityesAllResult" nillable="true" type="q1:ArrayOfLegalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVariableCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="vc" nillable="true" type="q2:VariableCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVariableCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="eav" nillable="true" type="q3:EntityAttrValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="site" nillable="true" type="q4:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSiteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="catalog" nillable="true" type="q5:Catalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="SaveCatalogResult" nillable="true" type="q6:Catalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizeDataValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dataValueId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizeDataValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element minOccurs="0" name="dateUTC" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateLOC" type="xs:dateTime" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="flagAQC" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="dataSourceId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveValueResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" minOccurs="0" name="dv" nillable="true" type="q7:DataValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDataValueResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataValueXSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dataValueId" type="xs:int" />
        <xs:element minOccurs="0" name="dataSourceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataValueXSourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" minOccurs="0" name="dataSource" nillable="true" type="q8:DataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDataSourceResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataValueList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" minOccurs="0" name="dvs" nillable="true" type="q9:ArrayOfDataValue" />
        <xs:element minOccurs="0" name="dataSourceId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataValueListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataForecastList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" minOccurs="0" name="dvs" nillable="true" type="q10:ArrayOfDataForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataForecastListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataPRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dvId" type="xs:long" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
        <xs:element minOccurs="0" name="isAQCApplied" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataPRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Open">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Close">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="methodIds" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetMethodsResult" nillable="true" type="q12:ArrayOfMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteIndices" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesByCodesResult" nillable="true" type="q14:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentFcsMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="methodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentFcsMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetParentFcsMethodResult" nillable="true" type="q15:MethodForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteIds" nillable="true" type="q16:ArrayOfint" />
        <xs:element minOccurs="0" name="dateActual" type="xs:dateTime" />
        <xs:element minOccurs="0" name="siteAttrTypeIdLat" type="xs:int" />
        <xs:element minOccurs="0" name="siteAttrTypeIdLon" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSitesPointsResult" nillable="true" type="q17:ArrayOfKeyValueOfintGeoPointWRGTqGL6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoObjectsBySiteIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stationIds" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoObjectsBySiteIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGeoObjectsBySiteIdsResult" nillable="true" type="q19:ArrayOfKeyValueOfintGeoObjectmdw0AYJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttrTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttrTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSiteAttrTypesAllResult" nillable="true" type="q20:ArrayOfSiteAttrType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesInBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="south" type="xs:double" />
        <xs:element minOccurs="0" name="north" type="xs:double" />
        <xs:element minOccurs="0" name="west" type="xs:double" />
        <xs:element minOccurs="0" name="east" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesInBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesInBoxResult" nillable="true" type="q21:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleMediumsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSampleMediumsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSampleMediumsAllResult" nillable="true" type="q22:ArrayOfSampleMedium" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesAttrValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteId" nillable="true" type="q23:ArrayOfint" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attrTypeId" nillable="true" type="q24:ArrayOfint" />
        <xs:element minOccurs="0" name="dateActual" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesAttrValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesAttrValuesResult" nillable="true" type="q25:ArrayOfEntityAttrValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="methodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetMethodResult" nillable="true" type="q26:Method" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttrValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="siteAttrTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="dateActual" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteAttrValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSiteAttrValueResult" nillable="true" type="q27:EntityAttrValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesAttrValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteId" nillable="true" type="q28:ArrayOfint" />
        <xs:element minOccurs="0" name="siteAttrTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="dateActual" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesAttrValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesAttrValueResult" nillable="true" type="q29:ArrayOfEntityAttrValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesByTypeResult" nillable="true" type="q30:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesByGroupResult" nillable="true" type="q31:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByAddrRegionIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addrRegionIds" nillable="true" type="q32:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByAddrRegionIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesByAddrRegionIdsResult" nillable="true" type="q33:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSiteTypesResult" nillable="true" type="q34:ArrayOfSiteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteIdList" nillable="true" type="q35:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSitesByListResult" nillable="true" type="q36:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariablesByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="variableIdList" nillable="true" type="q37:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariablesByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariablesByListResult" nillable="true" type="q38:ArrayOfVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariableByIdResult" nillable="true" type="q39:Variable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="variableTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="timeId" type="xs:int" />
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="generalCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="sampleMediumId" type="xs:int" />
        <xs:element minOccurs="0" name="timeSupport" type="xs:int" />
        <xs:element minOccurs="0" name="valueTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariableByKeyResult" nillable="true" type="q40:Variable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="variableTypeId" nillable="true" type="q41:ArrayOfint" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="timeId" nillable="true" type="q42:ArrayOfint" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="unitId" nillable="true" type="q43:ArrayOfint" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataTypeId" nillable="true" type="q44:ArrayOfint" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="generalCategoryId" nillable="true" type="q45:ArrayOfint" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sampleMediumId" nillable="true" type="q46:ArrayOfint" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="timeSupport" nillable="true" type="q47:ArrayOfint" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valueTypeId" nillable="true" type="q48:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariablesResult" nillable="true" type="q49:ArrayOfVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariablesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariablesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariablesAllResult" nillable="true" type="q50:ArrayOfVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetDataTypesAllResult" nillable="true" type="q51:ArrayOfDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlagAQCAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlagAQCAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFlagAQCAllResult" nillable="true" type="q52:ArrayOfKeyValueOfshortArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralCategoryesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralCategoryesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetGeneralCategoryesAllResult" nillable="true" type="q53:ArrayOfGeneralCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoObjectsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoObjectsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetGeoObjectsAllResult" nillable="true" type="q54:ArrayOfGeoObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoObjectTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoObjectTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetGeoObjectTypesAllResult" nillable="true" type="q55:ArrayOfGeoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeteoZonesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeteoZonesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetMeteoZonesAllResult" nillable="true" type="q56:ArrayOfMeteoZone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetMethodsAllResult" nillable="true" type="q57:ArrayOfMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodForecastsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodForecastsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetMethodForecastsAllResult" nillable="true" type="q58:ArrayOfMethodForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffsetTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffsetTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetOffsetTypesAllResult" nillable="true" type="q59:ArrayOfOffsetType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteXSitesByLeftSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteXSitesByLeftSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSiteXSitesByLeftSiteResult" nillable="true" type="q60:ArrayOfSiteXSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteXSitesByRightSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteXSitesByRightSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSiteXSitesByRightSiteResult" nillable="true" type="q61:ArrayOfSiteXSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteXSiteTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteXSiteTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetSiteXSiteTypesAllResult" nillable="true" type="q62:ArrayOfSiteXSiteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetUnitsAllResult" nillable="true" type="q63:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetValueTypesAllResult" nillable="true" type="q64:ArrayOfValueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableCodesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="variableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableCodesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariableCodesAllResult" nillable="true" type="q65:ArrayOfVariableCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableTypesAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetVariableTypesAllResult" nillable="true" type="q66:ArrayOfVariableType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistsDataForecasts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="catalogIds" nillable="true" type="q67:ArrayOfint" />
        <xs:element minOccurs="0" name="dateIni" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistsDataForecastsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExistsDataForecastsResult" nillable="true" type="q68:ArrayOfKeyValueOfintboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurvesBySites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sitesIds" nillable="true" type="q69:ArrayOfint" />
        <xs:element minOccurs="0" name="variableIdX" type="xs:int" />
        <xs:element minOccurs="0" name="variableIdY" type="xs:int" />
        <xs:element minOccurs="0" name="curve_seria_type_id" type="xs:int" />
        <xs:element minOccurs="0" name="seriaDateSS" type="xs:dateTime" />
        <xs:element minOccurs="0" name="seriaDateSF" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurvesBySitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCurvesBySitesResult" nillable="true" type="q70:ArrayOfKeyValueOfintArrayOfCurveG11ZnWqW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurveByCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="catalog_id_x" type="xs:int" />
        <xs:element minOccurs="0" name="catalog_id_y" type="xs:int" />
        <xs:element minOccurs="0" name="curve_seria_type_id" type="xs:int" />
        <xs:element minOccurs="0" name="seriaDateSS" type="xs:dateTime" />
        <xs:element minOccurs="0" name="seriaDateSF" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurveByCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" minOccurs="0" name="GetCurveByCatalogResult" nillable="true" type="q71:Curve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecastsByIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="catalogIds" nillable="true" type="q72:ArrayOfint" />
        <xs:element minOccurs="0" name="dateFcsS" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFcsF" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fcsLag" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="isDateFcs" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecastsByIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataForecastsByIdListResult" nillable="true" type="q73:ArrayOfKeyValueOfintArrayOfDataForecastG11ZnWqW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataValueIds" nillable="true" type="q74:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataSourcesResult" nillable="true" type="q75:ArrayOfKeyValueOflongDataSourceG11ZnWqW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dateS" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateF" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isDateLOC" type="xs:boolean" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteId" nillable="true" type="q76:ArrayOfint" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="variableId" nillable="true" type="q77:ArrayOfint" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="methodId" nillable="true" type="q78:ArrayOfint" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sourceId" nillable="true" type="q79:ArrayOfint" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="offsetTypeId" nillable="true" type="q80:ArrayOfint" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="offsetValue" nillable="true" type="q81:ArrayOfdouble" />
        <xs:element minOccurs="0" name="flagAQC" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="isActualValueOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="isSelectDeleted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataValuesResult" nillable="true" type="q82:ArrayOfKeyValueOfCatalogArrayOfDataValue9e82c4_Px" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecasts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
        <xs:element minOccurs="0" name="dateFcsS" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFcsF" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fcsLag" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="isDateFcs" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForecastsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SOV.Amur.Data" minOccurs="0" name="GetDataForecastsResult" nillable="true" type="q83:ArrayOfDataForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ctlId" nillable="true" type="q84:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetCatalogListByIdResult" nillable="true" type="q85:ArrayOfCatalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteId" nillable="true" type="q86:ArrayOfint" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="varId" nillable="true" type="q87:ArrayOfint" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="methodId" nillable="true" type="q88:ArrayOfint" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sourceId" nillable="true" type="q89:ArrayOfint" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="offsetTypeId" nillable="true" type="q90:ArrayOfint" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="offsetValue" nillable="true" type="q91:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetCatalogListResult" nillable="true" type="q92:ArrayOfCatalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="varId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="methodId" type="xs:int" />
        <xs:element minOccurs="0" name="sourceId" type="xs:int" />
        <xs:element minOccurs="0" name="offsetValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetCatalogResult" nillable="true" type="q93:Catalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataPDataValueAQC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dvId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataPDataValueAQCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SOV.Amur.DataP" minOccurs="0" name="GetDataPDataValueAQCResult" nillable="true" type="q94:ArrayOfAQCDataValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParserSysObj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="sysObjId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParserSysObjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SOV.Amur.Parser" minOccurs="0" name="GetParserSysObjResult" nillable="true" type="q95:SysObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParserSysParsersXSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="sysObjId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParserSysParsersXSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SOV.Amur.Parser" minOccurs="0" name="GetParserSysParsersXSitesResult" nillable="true" type="q96:ArrayOfSysParsersXSites" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParserSysParsersParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sysParsersParamsSetIds" nillable="true" type="q97:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParserSysParsersParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SOV.Amur.Parser" minOccurs="0" name="GetParserSysParsersParamsResult" nillable="true" type="q98:ArrayOfSysParsersParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetOrgResult" nillable="true" type="q99:Org" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orgIds" nillable="true" type="q100:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetOrgsByIdResult" nillable="true" type="q101:ArrayOfOrg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetOrgsAllResult" nillable="true" type="q102:ArrayOfOrg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="personIds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetPersonResult" nillable="true" type="q103:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="personIds" nillable="true" type="q104:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetPersonsByIdResult" nillable="true" type="q105:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetPersonsAllResult" nillable="true" type="q106:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parentAddrRegionsId" nillable="true" type="q107:ArrayOfint" />
        <xs:element minOccurs="0" name="isWithChilds" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetAddrsResult" nillable="true" type="q108:ArrayOfAddr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddrsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddrsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetAddrsAllResult" nillable="true" type="q109:ArrayOfAddr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="leIds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetLegalEntityResult" nillable="true" type="q110:LegalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntityesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leIds" nillable="true" type="q111:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntityesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SOV.Social" minOccurs="0" name="GetLegalEntityesByIdResult" nillable="true" type="q112:ArrayOfLegalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>