Code/Service/TestService/Service References/AmurServiceRWReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Meta" />
      <xsd:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Data" />
      <xsd:import schemaLocation="http://localhost:11589/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Parser" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Open_InputMessage">
    <wsdl:part name="parameters" element="tns:Open" />
  </wsdl:message>
  <wsdl:message name="IService_Open_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Close_InputMessage">
    <wsdl:part name="parameters" element="tns:Close" />
  </wsdl:message>
  <wsdl:message name="IService_Close_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesAttrValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesAttrValues" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesAttrValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesAttrValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMethod" />
  </wsdl:message>
  <wsdl:message name="IService_GetMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSource" />
  </wsdl:message>
  <wsdl:message name="IService_GetSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalogFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogFilter" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalogFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSiteAttrValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteAttrValue" />
  </wsdl:message>
  <wsdl:message name="IService_GetSiteAttrValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteAttrValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesAttrValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesAttrValue" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesAttrValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesAttrValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByType" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByGroup" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationByIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationByIndex" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationByIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationByIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationsByList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsByList" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationsByList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsByListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationTypes" />
  </wsdl:message>
  <wsdl:message name="IService_GetStationTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByStation" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSiteTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteTypes" />
  </wsdl:message>
  <wsdl:message name="IService_GetSiteTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByList" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesByList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesByListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVariablesByList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariablesByList" />
  </wsdl:message>
  <wsdl:message name="IService_GetVariablesByList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariablesByListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVariablesAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariablesAll" />
  </wsdl:message>
  <wsdl:message name="IService_GetVariablesAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariablesAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValues" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataForecasts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForecasts" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataForecasts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForecastsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TestDataValues_InputMessage">
    <wsdl:part name="parameters" element="tns:TestDataValues" />
  </wsdl:message>
  <wsdl:message name="IService_TestDataValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestDataValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalogListById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogListById" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalogListById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogListByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalogList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogList" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalog" />
  </wsdl:message>
  <wsdl:message name="IService_GetCatalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetParserSysObj_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParserSysObj" />
  </wsdl:message>
  <wsdl:message name="IService_GetParserSysObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParserSysObjResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetParserSysParsersXSites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParserSysParsersXSites" />
  </wsdl:message>
  <wsdl:message name="IService_GetParserSysParsersXSites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParserSysParsersXSitesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetParserSysParsersParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParserSysParsersParams" />
  </wsdl:message>
  <wsdl:message name="IService_GetParserSysParsersParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParserSysParsersParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStation" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveSiteAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteAttribute" />
  </wsdl:message>
  <wsdl:message name="IService_SaveSiteAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveSite_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSite" />
  </wsdl:message>
  <wsdl:message name="IService_SaveSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveStation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStation" />
  </wsdl:message>
  <wsdl:message name="IService_SaveStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveCatalog_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCatalog" />
  </wsdl:message>
  <wsdl:message name="IService_SaveCatalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveValue" />
  </wsdl:message>
  <wsdl:message name="IService_SaveValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataValue" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataValueXSource_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataValueXSource" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataValueXSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataValueXSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataSource" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataValueList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataValueList" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataValueList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataValueListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataForecastList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataForecastList" />
  </wsdl:message>
  <wsdl:message name="IService_SaveDataForecastList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataForecastListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveParserSysObjLastStartParam_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveParserSysObjLastStartParam" />
  </wsdl:message>
  <wsdl:message name="IService_SaveParserSysObjLastStartParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveParserSysObjLastStartParamResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Open">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Open" message="tns:IService_Open_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OpenResponse" message="tns:IService_Open_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Close">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Close" message="tns:IService_Close_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CloseResponse" message="tns:IService_Close_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesAttrValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesAttrValues" message="tns:IService_GetSitesAttrValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesAttrValuesResponse" message="tns:IService_GetSitesAttrValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMethod" message="tns:IService_GetMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMethodResponse" message="tns:IService_GetMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSource" message="tns:IService_GetSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSourceResponse" message="tns:IService_GetSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCatalogFilter" message="tns:IService_GetCatalogFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCatalogFilterResponse" message="tns:IService_GetCatalogFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteAttrValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSiteAttrValue" message="tns:IService_GetSiteAttrValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSiteAttrValueResponse" message="tns:IService_GetSiteAttrValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesAttrValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesAttrValue" message="tns:IService_GetSitesAttrValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesAttrValueResponse" message="tns:IService_GetSitesAttrValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesByType" message="tns:IService_GetSitesByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesByTypeResponse" message="tns:IService_GetSitesByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesByGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesByGroup" message="tns:IService_GetSitesByGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesByGroupResponse" message="tns:IService_GetSitesByGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationByIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStationByIndex" message="tns:IService_GetStationByIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStationByIndexResponse" message="tns:IService_GetStationByIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsByList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStationsByList" message="tns:IService_GetStationsByList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStationsByListResponse" message="tns:IService_GetStationsByList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStationTypes" message="tns:IService_GetStationTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStationTypesResponse" message="tns:IService_GetStationTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesByStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesByStation" message="tns:IService_GetSitesByStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesByStationResponse" message="tns:IService_GetSitesByStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSiteTypes" message="tns:IService_GetSiteTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSiteTypesResponse" message="tns:IService_GetSiteTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesByList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesByList" message="tns:IService_GetSitesByList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesByListResponse" message="tns:IService_GetSitesByList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariablesByList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVariablesByList" message="tns:IService_GetVariablesByList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVariablesByListResponse" message="tns:IService_GetVariablesByList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariablesAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVariablesAll" message="tns:IService_GetVariablesAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVariablesAllResponse" message="tns:IService_GetVariablesAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataValues" message="tns:IService_GetDataValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataValuesResponse" message="tns:IService_GetDataValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataForecasts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataForecasts" message="tns:IService_GetDataForecasts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataForecastsResponse" message="tns:IService_GetDataForecasts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestDataValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TestDataValues" message="tns:IService_TestDataValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TestDataValuesResponse" message="tns:IService_TestDataValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogListById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCatalogListById" message="tns:IService_GetCatalogListById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCatalogListByIdResponse" message="tns:IService_GetCatalogListById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCatalogList" message="tns:IService_GetCatalogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCatalogListResponse" message="tns:IService_GetCatalogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCatalog" message="tns:IService_GetCatalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCatalogResponse" message="tns:IService_GetCatalog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParserSysObj">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetParserSysObj" message="tns:IService_GetParserSysObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetParserSysObjResponse" message="tns:IService_GetParserSysObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParserSysParsersXSites">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetParserSysParsersXSites" message="tns:IService_GetParserSysParsersXSites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetParserSysParsersXSitesResponse" message="tns:IService_GetParserSysParsersXSites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParserSysParsersParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetParserSysParsersParams" message="tns:IService_GetParserSysParsersParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetParserSysParsersParamsResponse" message="tns:IService_GetParserSysParsersParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStation" message="tns:IService_UpdateStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStationResponse" message="tns:IService_UpdateStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSiteAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveSiteAttribute" message="tns:IService_SaveSiteAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveSiteAttributeResponse" message="tns:IService_SaveSiteAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveSite" message="tns:IService_SaveSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveSiteResponse" message="tns:IService_SaveSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveStation" message="tns:IService_SaveStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveStationResponse" message="tns:IService_SaveStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCatalog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveCatalog" message="tns:IService_SaveCatalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveCatalogResponse" message="tns:IService_SaveCatalog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveValue" message="tns:IService_SaveValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveValueResponse" message="tns:IService_SaveValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveDataValue" message="tns:IService_SaveDataValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveDataValueResponse" message="tns:IService_SaveDataValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataValueXSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveDataValueXSource" message="tns:IService_SaveDataValueXSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveDataValueXSourceResponse" message="tns:IService_SaveDataValueXSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveDataSource" message="tns:IService_SaveDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveDataSourceResponse" message="tns:IService_SaveDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataValueList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveDataValueList" message="tns:IService_SaveDataValueList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveDataValueListResponse" message="tns:IService_SaveDataValueList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataForecastList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveDataForecastList" message="tns:IService_SaveDataForecastList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveDataForecastListResponse" message="tns:IService_SaveDataForecastList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveParserSysObjLastStartParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveParserSysObjLastStartParam" message="tns:IService_SaveParserSysObjLastStartParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveParserSysObjLastStartParamResponse" message="tns:IService_SaveParserSysObjLastStartParam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Open">
      <soap:operation soapAction="http://tempuri.org/IService/Open" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Close">
      <soap:operation soapAction="http://tempuri.org/IService/Close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesAttrValues">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesAttrValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMethod">
      <soap:operation soapAction="http://tempuri.org/IService/GetMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSource">
      <soap:operation soapAction="http://tempuri.org/IService/GetSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogFilter">
      <soap:operation soapAction="http://tempuri.org/IService/GetCatalogFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteAttrValue">
      <soap:operation soapAction="http://tempuri.org/IService/GetSiteAttrValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesAttrValue">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesAttrValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByType">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByGroup">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesByGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationByIndex">
      <soap:operation soapAction="http://tempuri.org/IService/GetStationByIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsByList">
      <soap:operation soapAction="http://tempuri.org/IService/GetStationsByList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationTypes">
      <soap:operation soapAction="http://tempuri.org/IService/GetStationTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByStation">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesByStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteTypes">
      <soap:operation soapAction="http://tempuri.org/IService/GetSiteTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesByList">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesByList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariablesByList">
      <soap:operation soapAction="http://tempuri.org/IService/GetVariablesByList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariablesAll">
      <soap:operation soapAction="http://tempuri.org/IService/GetVariablesAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataValues">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataForecasts">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataForecasts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDataValues">
      <soap:operation soapAction="http://tempuri.org/IService/TestDataValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogListById">
      <soap:operation soapAction="http://tempuri.org/IService/GetCatalogListById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogList">
      <soap:operation soapAction="http://tempuri.org/IService/GetCatalogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalog">
      <soap:operation soapAction="http://tempuri.org/IService/GetCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParserSysObj">
      <soap:operation soapAction="http://tempuri.org/IService/GetParserSysObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParserSysParsersXSites">
      <soap:operation soapAction="http://tempuri.org/IService/GetParserSysParsersXSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParserSysParsersParams">
      <soap:operation soapAction="http://tempuri.org/IService/GetParserSysParsersParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStation">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSiteAttribute">
      <soap:operation soapAction="http://tempuri.org/IService/SaveSiteAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSite">
      <soap:operation soapAction="http://tempuri.org/IService/SaveSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStation">
      <soap:operation soapAction="http://tempuri.org/IService/SaveStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCatalog">
      <soap:operation soapAction="http://tempuri.org/IService/SaveCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveValue">
      <soap:operation soapAction="http://tempuri.org/IService/SaveValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataValue">
      <soap:operation soapAction="http://tempuri.org/IService/SaveDataValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataValueXSource">
      <soap:operation soapAction="http://tempuri.org/IService/SaveDataValueXSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataSource">
      <soap:operation soapAction="http://tempuri.org/IService/SaveDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataValueList">
      <soap:operation soapAction="http://tempuri.org/IService/SaveDataValueList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataForecastList">
      <soap:operation soapAction="http://tempuri.org/IService/SaveDataForecastList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveParserSysObjLastStartParam">
      <soap:operation soapAction="http://tempuri.org/IService/SaveParserSysObjLastStartParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:11589/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>