Code/Service/TestService/Service References/AmurServiceRWReference/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOV.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOV.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="IdNameParent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdNameParent" nillable="true" type="tns:IdNameParent" />
  <xs:complexType name="IdName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdName" nillable="true" type="tns:IdName" />
  <xs:complexType name="IdClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdClass" nillable="true" type="tns:IdClass" />
  <xs:complexType name="DicItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Childs" nillable="true" type="tns:ArrayOfDicItem" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="NameShort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentDicItem" nillable="true" type="tns:DicItem" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Type" nillable="true" type="q1:Type" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DicItem" nillable="true" type="tns:DicItem" />
  <xs:complexType name="ArrayOfDicItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DicItem" nillable="true" type="tns:DicItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDicItem" nillable="true" type="tns:ArrayOfDicItem" />
  <xs:complexType name="IdNames">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdNameRus">
        <xs:sequence>
          <xs:element minOccurs="0" name="NameEng" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameEngShort" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdNames" nillable="true" type="tns:IdNames" />
  <xs:complexType name="IdNameRus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="NameRus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameRusShort" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdNameRus" nillable="true" type="tns:IdNameRus" />
</xs:schema>